:root {
  --color-primary: #f9ed69;
  --color-secondary: #f08a5d;
  --color-tertiary: #b83b5e;
  --color-quaternary: #6a2c70;
  --color-quinary: #3d314a;

  --font-primary: "Roboto", sans-serif;

  --font-size-normal: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;
  --font-size-small: 0.75rem;
  --font-size-xsmall: 0.5rem;
  --font-size-xxsmall: 0.25rem;
  --font-size-medium: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-quinary);
}

.container h1 {
  font-size: var(--font-size-xlarge);
  color: var(--color-primary);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#text-input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: var(--font-size-normal);
  font-family: var(--font-primary);
  background-color: var(--color-quaternary);
  color: var(--color-primary);
  border-radius: 0.5rem;
}

#text-input::placeholder {
  color: var(--color-primary);
}

#check-btn {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-size: var(--font-size-normal);
  font-family: var(--font-primary);
  background-color: var(--color-quaternary);
  color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#check-btn:hover {
  transform: scale(1.01);
}

#result {
  margin-top: 1rem;
  font-size: var(--font-size-large);
  color: var(--color-primary);
}

#result-text {
  color: var(--color-secondary);
  font-weight: bold;
}
